<div class="about">
<div>
  <p>Para concluir podemos decir que hay muchas razones por las que las empresas utilicen Angular para crear aplicaciones no triviales a gran escala, y cada
  organización tendrá un conjunto ligeramente diferente de razones por las que el marco es tan efectivo para sus equipos.
  Podría ser tan simple como que Angular en TypeScript le resulte familiar a alguien con amplia experiencia en Java o
  .NET. O tal vez la cordura que se restaura mediante el uso de una arquitectura basada en componentes con una gestión de
  estado que realmente tiene sentido es justo lo que el equipo necesita en función de incursiones anteriores en
  aplicaciones a gran escala que salieron mal.</p>
  </div>
  
 </div>


