<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://brandemia.org/contenido/subidas/2021/03/portada-riasaffron-imagenes-brandemia-blog-1000x670.jpg" class="d-block w-100" alt="logo Ria transfer">
        </div>
        <div class="carousel-item active">
            <img src="https://c8.alamy.com/compes/j1wwp0/transferencia-de-dinero-ria-sucursal-en-amberes-j1wwp0.jpg" alt="Tienda ria">
        </div>
        <div class="carousel-item ">
            <img src="https://tellusdmsmedia.newmindmedia.com/wsimgs/Ria-Financial-Services_43632880.jpg[ProductImage]" class="d-block w-100" alt="tienda ria">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>