<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Direcion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Paseo de la Castellana...">
    </div>

    <div class="col-md-6">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
   
    
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Codigo Postal</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>